{% extends "base.html" %}
{% block main %}
  <h2>Upload Image</h2>
  {% include 'flash_messages.html' %}
  
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    
    <div class="form-group">
      {{ form.file.label }}
      {{ form.file(class="form-control") }}
      {% if form.file.errors %}
        <div class="text-danger">
          {% for error in form.file.errors %}
            <small>{{ error }}</small>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    
    {{ form.submit(class="btn btn-primary mt-3") }}
  </form>
{% endblock %}